.root {
    -fx-background-color: radial-gradient(
            center 50% 0%,
            radius 150%,
            #FFFFFF 0%,
            #FFECE7 30%,
            #FF8F6C 90%
    );
}


.geofinder {
    -fx-font-size: 48px;
    -fx-text-fill: #FF8F6C;
    -fx-font-weight: bold;
}


.normalLabel {
    -fx-font-size: 20px;
    -fx-text-fill: black;
}
.labelUnderline {
    -fx-underline: true;
}


.searchTextField {
    -fx-border-width: 2px;
    -fx-border-color: #FF8F6C;
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}


.choicesComboBox {
    -fx-font-size: 18px;
    -fx-border-width: 2px;
    -fx-background-color: #FF8F6C;
    -fx-border-radius: 5px;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 3, 0, 0, 2);
}
.choicesComboBox .list-cell {
    -fx-border-radius: 5px;
    -fx-background-radius: 6px;
}
.choicesComboBox .cell {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 5px;
    -fx-background-radius: 6px;
}
.choicesComboBox .list-cell:selected {
    -fx-background-color: #FF8F6C;
    -fx-text-fill: white;
}
.choicesComboBox .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: #FF8F6C;
}
.choicesComboBox .combo-box-popup .list-view {
    -fx-border-color: #FF8F6C;
    -fx-border-width: 2px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 3, 0, 0, 2);
}
.choicesComboBox .arrow-button {
    -fx-background-color: transparent; /* Optional: remove default gray bg */
}
.choicesComboBox .arrow {
    -fx-shape: "M 0 0 L 4 4 L 8 0 Z"; /* Default triangle shape */
    -fx-background-color: white;
}


.searchRoundedIcon:hover{
    -fx-cursor: hand;
}



.locationsTableColumn {
    -fx-background-color: transparent;
}
.centerEffect {
    -fx-alignment: CENTER;
}
.locationsTableView {
    -fx-background-color: white;
    -fx-border-color: #FF8F6C;
    -fx-border-width: 3px;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-border-radius: 6px 6px 3px 3px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 2);
}
.locationsTableView .column-header-background {
    -fx-background-color: #FF8F6C;
}
.locationsTableView .filler {
    -fx-background-color: #FF8F6C;
}
.locationsTableView .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-alignment: CENTER;
    -fx-padding: 5px;
}
.locationsTableView .table-cell {
    -fx-font-size: 16px;
    -fx-padding: 3px;
    -fx-border-color: transparent #FF8F6C #FF8F6C transparent;
}
.locationsTableView .table-row-cell:hover {
    -fx-background-color: #FFF0E9;
}
.locationsTableView .table-row-cell:filled:selected,
.locationsTableView .table-row-cell:focused:selected {
    -fx-background-color: #FFF0E9;
}
.locationsTableView .table-cell{
    -fx-text-fill: black;
}
.locationsTableView .table-row-cell:filled:selected .table-cell {
    -fx-text-fill: black;
}


.inputsContainer {
    -fx-border-width: 3px;
    -fx-border-color: #FF8F6C;
    -fx-border-radius: 8px;
    -fx-background-radius: 12px;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 3, 3);
}

.inputsTextField {
    -fx-font-size: 16px;
    -fx-border-width: 2px;
    -fx-border-color: #FF8F6C;
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}
.choicesComboBoxEdit {
    -fx-font-size: 16px;
}



/* Shared style for all action buttons */
.action-button {
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-font-size: 18px;
    -fx-border-radius: 8;
    -fx-border-width: 2;
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0.2, 0, 2);
}

.clearLocation {
    -fx-text-fill: #FFAA33;
    -fx-border-color: #FFAA33;
}

.updateLocation {
    -fx-text-fill: #2196F3;
    -fx-border-color: #2196F3;
}

.addLocation {
    -fx-text-fill: green;
    -fx-border-color: green;
}

.clearAll {
    -fx-text-fill: #FF3B3B;
    -fx-border-color: #FF3B3B;
}

.clearLocation:hover, .updateLocation:hover, .addLocation:hover, .clearAll:hover {
    -fx-background-color: #FFF0E9;
    -fx-cursor: hand;
}